@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Manufacturing+Consent&display=swap');

p{
    font-family: 'Lora', serif;
}

h1,h2, h3,h4,a{
    font-family: 'Libertinus Mono', monospace;
    
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1030; /* Higher than most Bootstrap elements */
}

/* .logo-body {
  font-family: 'Manufacturing Consent', sans-serif;
} */